/* **************** */
/* Universal Styles */
/* **************** */

html {
  font-size: 16px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {

  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}

/* ****************************************************************** */

/****************/
/* Main content */
/****************/

h1, h2 {
  font-size: 3rem;
  color: #bf5f82;
}

h3 {
  color: #f48fb1;
}

a {
  text-decoration: none;
  color: black;
}

.content p {
  margin-top: 0.5rem;
}
/* ****************************************************************** */

/* ****** */
/* Header */
/* ****** */

header {
  height: 4rem;
  background-color: #bf5f82;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.desktop-nav #logo {
  display: flex;
  align-items: center;
}

.desktop-nav #logo span:last-child {
  color: whitesmoke;
}

.desktop-nav nav span {
  padding-left: 1rem;
}

.anchor {
  display: block;
  height: 4rem;
  visibility: hidden;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  .desktop {
    display: none;
  }

}


/* ****************************************************************** */

/* ****************** */
/* Learn more Section */
/* ****************** */

#learn-more {
  display: flex;
  background-color: #d3d3d3;
}

.banner .image-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .image-container img {
  max-width: 100%;
  height: auto;
}

#learn-more .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.teaser {
  /*padding: 2rem;*/
  width: 75%;
}

#learn-more .content p {
  font-size: 1.5rem;
}

#learn-more .button {
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #f48fb1;
}

#learn-more .button a {
  color: whitesmoke;
}


/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #learn-more {
    flex-direction: column;
  }

}


/* ****************************************************************** */

/* ************************** */
/* Campus Information Section */
/* ************************** */

#campus-information {
 display: flex;
 background-color: #eeeeee;
}

.information-main {
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-main .media-container img  {
  max-width: 100%;
  height: auto;
}

#campus-information .infoboxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0 2rem;
  border-left: 1px solid lightgrey;
}

.infobox-campus {
  display: inline-flex;
  padding: 1rem;
  border: 1px solid lightgrey;
}

.infobox-campus .image-container {
  width: 35%;
}

.infobox-campus .image-container img {
  max-width: 100%;
  height: auto;
}

.infobox-campus .content {
  width: 65%;
  margin-left: 1rem;
}

.infobox-campus .button {
  margin-top: 1rem;
  padding: 5px;
  text-align: center;
  background-color: #f48fb1;
}

.infobox-campus .button a {
  color: #49599a;
}


/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  .infobox-campus {
    flex-direction: column;
  }

}


/* ****************************************************************** */

/* ************************** */
/* Course Information Section */
/* ************************** */

#course-information {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
}

#course-information .infoboxes {
  display: inline-flex;
}

.infobox-course .image-container img {
  max-width: 100%;
  height: auto;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #course-information .infoboxes {
    flex-direction: column;
  }

}


/* ****************************************************************** */

/* ********************** */
/* Thesis exhibit Section */
/* ********************** */

#thesis-exhibit {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

#thesis-exhibit .content-main {
  display: inline-flex;
}

.information-main .media-container video  {
  max-width: 100%;
  height: auto;
}

#thesis-exhibit .infoboxes {
  display: flex;
  flex-direction: column;
}

.infobox-thesis {
  display: inline-flex;
}

.infobox-thesis .image-container {
  width: 35%;
}

.infobox-thesis .image-container img {
  max-width: 100%;
  height: auto;
}


/* ****************************************************************** */

/* ****** */
/* Footer */
/* ****** */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #bf5f82;
}
