/* **************** */
/* Universal Styles */
/* **************** */

/*
font-family: 'Lato', sans-serif; -- default font --
font-family: 'Kaushan Script', cursive; -- h1 --
font-family: 'Caveat', cursive; -- h2 --
*/

/*
background-color: #bf5f82; -- header, footer --
background-color: #d3d3d3; -- #learn-more, #course-information, .infobox-course .content (mobile) --
background-color: #ffa500; -- learn-more .button, .infobox-campus:last-child, .infobox-thesis:first-child --
background-color: #eeeeee; -- #campus-information, .infobox-campus:last-child, .infobox-course, #course-information (mobile), #thesis-exhibit --
*/

/*
color: #983352; -- h1, h2, infobox-campus:last-child h3, .infobox-thesis:first-child h3 --
color: #f48fb1; -- h3 --
color: whitesmoke; -- .desktop-nav #logo span:last-child, #learn-more .button a --
color: #49599a; -- .infobox-campus a --
color: #aeaeae; -- .infobox-course .content p:first-of-type --
color: #000000; -- a --
*/

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  color: #983352;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: #f48fb1;
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 300ms;
}

a:hover {
  color: #ffffff;
}

.content p {
  margin-top: 0.5rem;
}

.mobile {
  display: none;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  .mobile {
    display: flex;
  }

}


/* ****************************************************************** */

/****************/
/* Main content */
/****************/



/* ****************************************************************** */

/* ****** */
/* Header */
/* ****** */

header {
  height: 4rem;
  background-color: #bf5f82;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.desktop-nav #logo {
  display: flex;
  align-items: center;
}

.desktop-nav #logo span:last-child {
  color: whitesmoke;
}

.desktop-nav nav span {
  padding-left: 1rem;
}

.anchor {
  display: block;
  height: 4rem;
  visibility: hidden;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  .desktop {
    display: none;
  }

  .mobile nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 1.5rem;
  }

}


/* ****************************************************************** */

/* ****************** */
/* Learn more Section */
/* ****************** */

#learn-more {
  display: flex;
  background-color: #d3d3d3;
}

.banner .image-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .image-container img {
  max-width: 100%;
  height: auto;
}

#learn-more .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.teaser {
  margin-right: 1.5rem;
}

#learn-more .content p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

#learn-more a {
  display: block;
  margin-top: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #ffa500;
  color: whitesmoke;
  font-size: 2rem;
  transition: background-color 0.5s;
}

#learn-more a:hover {
  background-color: #e06e04;
}


/* ****************************************** */
/* Styling for screens with max-width = 940px */
/* ****************************************** */

@media only screen and (max-width: 964px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  #learn-more .content p {
    font-size: 1.2rem;
  }

  #learn-more .button a {
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 760px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #learn-more .content p {
    font-size: 1.3rem;
  }

}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #learn-more {
    flex-direction: column;
  }

  .banner .image-container {
    width: 100%;
    padding: 0;
  }

  #learn-more .content {
    width: 100%;
  }

  .teaser {
    margin: 2rem 1rem;
  }

}


/* ****************************************************************** */

/* ************************** */
/* Campus Information Section */
/* ************************** */

#campus-information {
 display: flex;
 background-color: #eeeeee;
}

.information-main {
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-main .media-container img  {
  max-width: 100%;
  height: auto;
}

.information-main .content {
  margin-top: 2rem;
}

.information-main .content p:first-of-type {
  margin-top: 1.5rem;
  font-style: italic;
}

.information-main .content p:last-of-type {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  font-weight: 300;
  font-style: italic;
}

#campus-information .infoboxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0 2rem;
  border-left: 1px solid lightgrey;
}

.infobox-campus {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid lightgrey;
}

.infobox-campus:last-child {
  background-color: #ffa500;
}

.infobox-campus:last-child h3 {
  color: #983352;
}

.infobox-campus .image-container {
  width: 35%;
}

.infobox-campus .image-container img {
  max-width: 100%;
  height: auto;
}

.infobox-campus .content {
  width: 65%;
  margin-left: 1rem;
}

.infobox-campus a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #49599a;
  transition: color 300ms;
}

.infobox-campus a:hover {
  color: #ffa500;
}

.infobox-campus:last-of-type a:hover {
  color: #eeeeee;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #campus-information .infoboxes {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
  }

  .infobox-campus {
    flex-direction: column;
    border: 0;
    padding: 2rem 0;
  }

  .infobox-campus:first-child {
    padding-top: 0;
  }

  .infobox-campus:last-child {
    padding-bottom: 1rem;
    background-color: #eeeeee;
  }

  .infobox-campus .image-container {
    width: 100%;
  }

  #campus-information .content {
    width: 100%;
    margin-top: 1.5rem;
  }

}


/* ****************************************************************** */

/* ************************** */
/* Course Information Section */
/* ************************** */

#course-information {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
}

#course-information h2 {
  margin: 2rem auto;
}

#course-information .infoboxes {
  display: inline-flex;
  margin: 0 3.5rem 2rem 3.5rem;
}

.infobox-course {
  width: 100%;
  margin: 0 1rem;
  background-color: #eeeeee;
}

.infobox-course .image-container img {
  max-width: 100%;
  height: auto;
}

.infobox-course .content {
  padding: 1rem 1rem 1.5rem;
}

.infobox-course .content p:first-of-type {
  color: #aeaeae;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #course-information {
    background-color: #eeeeee;
  }

  #course-information h2 {
    margin-bottom: 1rem;
  }

  #course-information .infoboxes {
    flex-direction: column;
    margin: 0;
  }

  .infobox-course .content {
    width: 100%;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0 2rem 1rem;
    background-color: #d3d3d3;
  }

}


/* ****************************************************************** */

/* ********************** */
/* Thesis exhibit Section */
/* ********************** */

#thesis-exhibit {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

#thesis-exhibit h2 {
  margin: 2rem auto;
}

.information-main .content h3 {
  margin-top: 1.5rem;
}

#thesis-exhibit .information-main .content p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

#thesis-exhibit .content-main {
  display: inline-flex;
  padding-left: 1.5rem;
}

#thesis-exhibit .information-main {
  flex-direction: column;
  width: 60%;
  padding: 0 1.5rem 2rem 0;
}

.information-main .media-container video  {
  max-width: 100%;
  height: auto;
}

#thesis-exhibit .infoboxes {
  display: flex;
  flex-direction: column;
}

.infobox-thesis {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.infobox-thesis:first-child {
  background-color: #ffa500;
}

.infobox-thesis:first-child h3 {
  color: #983352;
}

.infobox-thesis .image-container {
  width: 35%;
}

.infobox-thesis .image-container img {
  max-width: 100%;
  height: auto;
}

.infobox-thesis .content {
  width: 65%;
  margin-left: 1rem;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  #thesis-exhibit h2 {
    margin-bottom: 1rem;
  }

  #thesis-exhibit .content-main {
    padding-left: 0;
    margin-bottom: 1.5rem;
  }

  #thesis-exhibit .information-main {
    width: 100%;
    padding: 0;
  }

  .infobox-thesis {
    display: none;
  }

}


/* ****************************************************************** */

/* ****** */
/* Footer */
/* ****** */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem;
  background-color: #bf5f82;
}

footer nav span {
  padding-left: 1rem;
}

/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  footer {
    padding: 1rem;
  }

}
