/* **************** */
/* Universal Styles */
/* **************** */

html {

}

.mobile {
  display: none;
}


/* ****************************************************************** */

/****************/
/* Main content */
/****************/




/* ****************************************************************** */

/* ****** */
/* Header */
/* ****** */




/* ****************************************** */
/* Styling for screens with max-width = 760px */
/* ****************************************** */

@media only screen and (max-width: 760px) {

  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

}

/* ****************************************************************** */

/* ****************** */
/* Learn more Section */
/* ****************** */

#learn-more {
  display: flex;
}

.banner .image-container {
  width: 60%;
}

.banner .image-container img {
  max-width: 100%;
  height: auto;
}


/* ****************************************************************** */

/* ************************** */
/* Campus information Section */
/* ************************** */





/* ****************************************************************** */

/* ************************** */
/* Course information Section */
/* ************************** */






/* ****************************************************************** */

/* ********************** */
/* Thesis exhibit Section */
/* ********************** */






/* ****************************************************************** */

/* ****** */
/* Footer */
/* ****** */
